body {
  background-color: #EEF4F4;
}

.adminContainer {
  color: #015866;
}

.adminContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.adminMenuContainer {
  width: 100%;
  text-align: left;
  font-size: 20px;
}

.adminMenuContainer > span {
  font-weight: 900;
}

.adminButtonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin: 40px 100px;
  width: 60%;
}

.adminButtonContainer > button {
  border: 1px solid #015866;
  border-radius: 30px;
  width: 160px;
  padding: 10px;
  background-color: transparent;
  color: #015866;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.5s ease; /* 배경 색상 변화에 애니메이션 추가 */
}

.adminButtonContainer > button:hover {
  background-color: #015866;
  color: white;
}

.adminInfoContainer {
  display: flex;
  height: 700px;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.itemContainer {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #015866;
  padding: 10px;
  font-weight: 600;
}

.itemContainer:hover {
  cursor: pointer;
}

.itemListContent {
  display: flex;
  width: 700px;
  justify-content: space-between;
  padding: 0 15px 10px 15px;
}

.itemListTitle {
  font-weight: 900;
}

.pageContainer {
  margin-top: 30px;
}

.pageContainer > a:hover {
  cursor: pointer;
  font-weight: 900;
}

.adminButtonContainer .select {
  background-color: #015866;
  color: white;
}

.hide {
  display: none;
}