body {
    background-color: #EEF4F4;
}

.adminDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  color: #015866;
}

.adminMenuContainer {
  display: flex;
  gap: 20px;
  font-size: 20px;
  color: #015866;
  font-weight: 900;
}

.adminMenuContainer > span:hover {
  cursor: pointer;
}

.adminMenuContainer:nth-of-type(2):hover {
  cursor: default;
}

.userListButtonContainer {
  text-align: right;
}

.userListButtonContainer > button {
  background-color: transparent;
  border: 1px solid #015866;
  border-radius: 40px;
  padding: 15px 20px;
  color: #015866;
  transition: all 0.5s ease-in;
}

.userListButtonContainer > button:hover {
  background-color: #015866;
  color: white;
}

.infosContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.broadcastProductInfoContainer {
  display: flex;
  gap: 50px;
}

.broadcastProductInfo {
  width: 50%;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 10px 10px #666666;
}

.infoContainer > h3 {
  font-size: 30px;
  font-weight: 900;
}

.infoDetails {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 20px;
  padding: 20px;
  height: 100%;
  justify-content: space-around;
}

.infoDetailsItem {
  display: flex;
  margin-bottom: 20px;
}

.infoDetailsTitle {
  font-size: 25px;
  font-weight: 900;
  width: 150px;
}

.infoDetailsProductTitle {
  font-size: 25px;
  font-weight: 900;
}

.infoDetailsSaleTitle {
  font-size: 25px;
  font-weight: 900;
  width: 200px;
}

.infoDetailsInfo {
  margin-left: 30px;
}
