.chatBox {
  width: 420px;
  margin: 10px auto;
  background-color: white;
 
  display: flex;
  flex-direction: column;
  height: 800px;
  border-radius: 8px;
  overflow: hidden;
}

.chatBody {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px; /* Padding 제거 */
  margin: 15px;
  background-color: white;
  border-radius: 10px;
  
}

.chatWindow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1px;
}

.message {
  margin-bottom: 10px;

}

.nickname {
  font-weight: bold;
  margin-right: 5px;
}

.texts {
  word-break: break-all;
  overflow-wrap: break-all;
  white-space: break-all;
  color:black;
}

.chatFooter {
  padding: 10px;
  background-color: white;
  align-items: center;
  box-sizing: border-box;
  position: sticky;
  bottom: 0;
  border-radius: 10px;
  
  margin: 0px 15px 15px 15px;
}

.chatFooter input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  box-sizing: border-box;
  width: 300px;
  display: inline-block;
}

.chatFooter button {
  padding: 8px 15px;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  box-sizing: border-box;
  width: 60px;
  display: inline-block;
}

.chatFooter button:hover {
  margin: 5px;
  background-color: #45a049;
}

.charCount{
  font-weight: bold;
  margin: 1px;
  color:black;
}
