/* src/styles/CompletePaymentPage.module.css */
.completeContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.messageContainer {
    background-color: #e6f0ff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
}

.messageContainer h1 {
    margin-bottom: 20px;
}

.messageContainer p {
    margin-bottom: 20px;
}

.messageContainer img {
    width: 100px;
    margin-bottom: 20px;
}

.returnButton {
    padding: 10px 20px;
    background-color: #4d79ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
