.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.siteIntro {
  background-color: #ADD8E6;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.siteIntro > h3 {
  font-size: 30px;
  color: #282c34;
  margin-bottom: 10px;
}

.siteIntro > p {
  margin-top: 30px;
  opacity: 0.5;
}

.sections {
  display: flex;
  justify-content: space-between;
  height: 400px;
}

.streamerSection {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.streamerPage {
  background-color: #FFDAB9;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-right: 10px;
  position: relative;
}

.streamButton {
  background-color: #FFA500;
  border: none;
  padding: 20px 40px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
  bottom: 20px;
}

.reservationPage {
  background-color: #E6E6FA;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  position: relative;
}

.reservationButton {
  background-color: #9370DB;
  border: none;
  padding: 20px 40px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
  bottom: 20px;
}

.streamerText {
  font-size: 36px;
  margin-bottom: 20px;
}

.onAir {
  background-color: #FFB6C1;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-right: 10px;
  position: relative;
}

.onAirText {
  font-size: 36px;
  font-weight: bold;
  color: red;
  position: absolute;
  top: 10px;
  left: 10px;
}

.discountText {
  font-size: 36px;
  margin-bottom: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
}

.watchButton {
  background-color: #FF4500;

  border: none;
  padding: 20px 40px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
  position: absolute;
  bottom: 100px;
}

.ad {
  background-color: #FFFFFF;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: url("../assets/images/sparta_advertisement.png");
  background-size: cover;
  background-position: center;
}