* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

body {
  background-color: #F5FBFF;
}

.myinfoContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 100px;
  width: 1300px;
  margin: 0 auto;
}

.infoContainer {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-direction: column;
}

.nameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #015866;
  padding: 0 30px;
}

.nameContainer > .nameBox {
  display: flex;
  gap: 10px;
  font-size: 30px;
  font-weight: 900;
}

.nameBox .nameBoxName {
  font-size: 40px;
}

.nameBox > .nameBoxAdmin {
  font-size: 20px;
  font-weight: 500;
  color: black;
  opacity: 0.4;
  padding-top: 15px;
}

.nameBoxButtonContainer {
  display: flex;
  gap: 20px;
}

.nameBoxButtonContainer>button {
  border: 1px solid #015866;
  border-radius: 40px;
  padding: 10px 20px;
  background-color: white;
  color: #015866;
  font-weight: 700;
  transition: all 0.5s ease-in;
}

.nameBoxButtonContainer > button:hover {
  background-color: #015866;
  color: white;
}

.infoContainer .nameBox>h1 {
  font-size: 30px;
}

.infoBoxContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #D9E7E8;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 5px 5px 20px #666666;
  color: #015866;
}

.infoBox {
  display: flex;
  gap: 30px;
  align-items: center;
}

.infoBox>h3 {
  width: 15%;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}

.infoBox>input {
  width: 100%;
  margin-right: 50px;
  border: 1px solid #015866;
  border-radius: 40px;
  color: #015866;
  font-size: 15px;
  padding: 10px 20px;
}

.infoBox > span {
  align-items: center;
  font-size: 20px;
}

.infoBtn {
  padding: 5px 30px;
  margin: 0 auto;
  border: none;
  border-radius: 40px;
  background-color: #105258;
  color: white;
  font-size: 18px;
}

.infoBox .addressFromBox input[type="text"] {
  border: 1px solid #015866;
  border-radius: 40px;
  padding: 5px;
  margin-right: 10px;
  color: #015866;
}

.infoBox .addressFromBox input[type="button"] {
  background-color: #015866;
  color: white;
  border-radius: 40px;
  padding: 5px 20px;
  margin-bottom: 10px;
  transition: all 0.5s ease-in;
}

.infoBox .addressFromBox input[type="button"]:hover {
  cursor: pointer;
}

.infoBox .addressFromBox button {
  background-color: #015866;
  border: none;
  border-radius: 40px;
  padding: 5px 20px;
  color: white;
}

.infoBox .addressFromBox button:hover {
  cursor: pointer;
}

.actContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  font-size: 20px;
  justify-items: center;
  box-shadow: 5px 5px 20px #666666;
}

.actContainer .actName {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.actName>span {
  color: #015866;
  font-weight: 700;
  border-bottom: 1px solid #015866;
}

.actName>button {
  background-color: transparent;
  border: 1px solid #015866;
  border-radius: 40px;
  padding: 4px 17px;
  color: #015866;
  font-size: 13px;
  transition: all 0.5s ease-in;
}

.actName > button:hover {
  background-color: #105258;
  color: white;
}

.actContentContainer {
  display: flex;
  gap: 20px;
  max-height: 250px;
  min-height: 250px;
}

.actContentContainer .actContent {
  display: flex;
  flex-direction: column;
  background-color: #EEF4F4;
  gap: 20px;
  padding: 30px;
  max-width: 200px;
  text-align: center;
  overflow: auto;
  border-radius: 10px;
  color: #105258;
}

.actContent .actContentState {
  font-weight: 700;
  border-radius: 40px;
  background-color: rgba(16, 82, 88, 0.4);
  color: white;
}

.actContent .actContentTitle{
  font-weight: 900;
}

.actContent .actContentTime, .orderContent .orderContentTime {
  color: black;
  opacity: 0.4;
}

.addressFromBox input {
  border: none;
}

.addressFromBox input[type="button"] {
  background-color: dodgerblue;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
}

.addressFromBox button {
  background-color: dodgerblue;
}

.hide {
  display: none;
}

